:root {
  --main_color: #f7df1e;
  --second_color: #222;
  --main_modal_color: #f7df1ed9;
  --second_modal_color: #222222d9;
}
html {
  height: 100vh;
  min-height: 100vh;
}
body {
  background: -webkit-linear-gradient(top, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.9)),
    url("../img/background.jpg");
  background: -o-linear-gradient(ttop, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.9)),
    url("../img/background.jpg");
  background: -moz-linear-gradient(top, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.9)),
    url("../img/background.jpg");
  background: linear-gradient(top, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.9)),
    url("../img/background.jpg");
  height: 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
header {
  background-color: var(--main_color);
  color: var(--second_color);
  text-align: center;
  padding: 10px 0px;
}
header h1 {
  font-size: 20px;
  font-weight: bold;
}
.formulario {
  margin: 20px 20px;
}
.formulario label {
  color: #fff;
  font-size: 1.2rem;
}
.codigo_rango {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#tipo_codigo {
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--main_color);
  padding: 5px;
  margin: 10px;
  font-size: 1.2rem;
  color: #000;
}
.opcion {
  background-color: #f7df1e;
  color: #000;
}
.opcion:hover {
  background-color: #222222d9;
  color: #f7df1e;
}
#rango_cesar {
  cursor: pointer;
}
textarea {
  font-size: 1rem;
  width: 90%;
  max-width: 680px;
  margin: 20px;
  min-width: 280px;
  border: 1px solid var(--main_color);
  border-radius: 10px;
  resize: none;
}
.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px auto;
}
#boton_traducir {
  background-color: var(--main_color);
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
#boton_traducir:hover {
  background-color: var(--main_modal_color);
  opacity: 0.8;
}
.accion {
  width: 320px;
  margin: 10px auto;
  border: var(--main_color) solid 1px;
  padding: 15px;
}
.accion legend {
  background-color: var(--main_color);
  font-size: 1.2rem;
  padding: 5px 6px;
  margin: 0px auto;
}
.accion input {
  margin: 10px;
}
.none {
  display: none;
}
.active {
  display: block;
}
.error_cadena {
  border: 2px solid red !important;
}
textarea[required]:invalid,
#tipo_codigo[required]:invalid {
  border: 2px solid red !important;
}
.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #222222d9;
  z-index: 100;
  transform: translate(0, -100%); /*Para que salga de arriba*/
  opacity: 0; /*Va a empezar invisible*/
  visibility: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.modal_active {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
}
.modal img {
  width: 330px;
  margin: 10px auto;
  border: 2px solid #f7df1e;
  border-radius: 10px;
}
.modal .cesar img {
  margin-top: 55px;
}

.boton_menu {
  /*border: 2px solid #000;*/
  box-shadow: 1px 1px 1px #999;
  height: 60px;
  width: 60px;
  z-index: 1000;
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--main_color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
}

.bar1,
.bar3 {
  margin: 5px auto;
  width: 70%;
  background-color: black;
  height: 8px;
  border-radius: 20px;
  pointer-events: none;
  display: none;
}
.bar2 {
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  pointer-events: none;
  display: block;
}
.close .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
  display: block;
}
.close .bar2 {
  display: none;
}
.close .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  display: block;
}

@media (min-width: 480px) {
  .codigo_rango {
    flex-direction: row;
  }
}
@media (min-width: 680px) {
  .container {
    flex-direction: row;
  }
  .modal img {
    width: 530px;
  }
}
@media (min-width: 1200px) {
  .modal {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .modal img {
    margin: 55px auto;
  }
}
